apiVersion: apps/v1
kind: Deployment
metadata:
  name: demo
  labels:
    app: demo
spec:
  replicas: 4
  selector:
    matchLabels:
      app: ciao
  template:
    metadata:
      labels:
        app: nginx
    spec:
      containers:
        - name: demo
          image: louisadjams/demo4:latest
